DATABASE_URL="file:./data/dev.db"
SESSION_SECRET="SECRET"
COOKIE_SECRET="SECRET"
PORT=3000
PUBLIC_URL="https://backend.trackmate.alpha-hub.net"
ANDROID_PACKAGE_NAME="com.example.trackmate"
ANDROID_CERT_SHA256="EE:D8:46:B1:D1:65:6D:62:B5:D9:E3:21:0B:F1:91:E2:2A:54:F7:D5:2C:E2:9E:B1:F3:D4:A0:87:4B:88:D9:6F"